@model string
@*<h4>Generate B4U wallets using Your Merchant Password</h4>*@
<input type="checkbox" checked class="useMerchantPassword" name="Data.UseMerchantPassword" placeholder="Use merchant password"/> 