@{
    ViewBag.Title = "Merchant cabinet";
    Layout = "~/Views/Shared/_newPostLogin.cshtml";

    var lnkAttr = new Dictionary<string, object>();
    lnkAttr.Add("class", "btn btn-default");
    var routeVals = new RouteValueDictionary();
}

<div class="row">
    <h2>Dashboard</h2>
</div>