@model string
<h2 class="alert-warning">Error</h2>
<br />
<h3>There was an error, while performing verification. Please, try againe later!</h3>
<pre style="display:none">
@Model
</pre>

<a href="/CryptoBox/MerchantCabinet" class="btn btn-primary">To Dashboard</a>
