<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bank</title>

    <!-- Bootstrap -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/flags.css" rel="stylesheet">
    <link href="css/bank-web.css" rel="stylesheet">
    <link href="css/card.css" rel="stylesheet">
    <link href="css/chartist.min.css" rel="stylesheet">
    <script src="js/chartist.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
      }
    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="bank-web">
    <nav class="navbar navbar-default bank-header">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="01_index.htm">Bank logo</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#"><i class="fa fa-bar-chart"></i>My Finance</a></li>
            <li><a href="06_Transaction_history.aspx"><i class="fa fa-history"></i>Transactions History</a></li>
            <li><a href="#"><i class="fa fa-comments-o"></i>Chat <span class="badge">4</span></a></li>
          </ul>
          <div class="navbar-text navbar-right bank-user-deck">
              <a href="02_registration.htm" class="user-logo pull-right hidden-sm hidden-xs"><i class="fa fa-user"></i></a>
              <div class="user-name-time">
                <div class="user-name-row">Logined as <a href="02_registration.htm">User Name</a></div>
                <div class="user-in-system">Time in system: 12:46</div>
              </div>
              <div class="header-langs hidden-sm">
                  <div class="header-lng active">RU</div>
                  <div class="header-lng">DE</div>
                  <div class="header-lng">ENG</div>
              </div>
            </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container bank-main">
        <h2 class="secondary-title">
          <div class="icon-wrapper"><i class="fa fa-globe"></i></div> Geolocation
        </h2>
        <div class="row">
          <div class="col-md-4">
            <h4 class="geolocation-selected-title">Select offices/Shops</h4>
            <div class="panel-group geolocation-menu" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       Company offices
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <ul>
                        <li class="active"><a href="#">Ukraine office</a></li>
                        <li><a href="#">Germany office</a></li>
                        <li><a href="#">Poland office</a></li>
                        <li><a href="#">USA office</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Shops
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      <ul>
                        <li>
                          <a href="#">Tissot</a>
                          <p>Chemin des Tourelles 17 CH-2400 Le Locle</p>
                        </li>
                        <li>
                          <a href="#">Tissot</a>
                          <p>Chemin des Tourelles 17 CH-2400 Le Locle</p>
                        </li>
                        <li>
                          <a href="#">Tissot</a>
                          <p>Chemin des Tourelles 17 CH-2400 Le Locle</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Tax-free
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                     <ul>
                        <li>
                          <a href="#">House of ember</a>
                          <p>Chemin des Tourelles 17 CH-2400 Le Locle</p>
                        </li>
                        <li>
                          <a href="#">House of ember</a>
                          <p>Chemin des Tourelles 17 CH-2400 Le Locle</p>
                        </li>
                        <li>
                          <a href="#">House of ember</a>
                          <p>Chemin des Tourelles 17 CH-2400 Le Locle</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-md-8">
              <h4 class="geolocation-selected-title">Company offices - Kiev Offices</h4>
              <div class="geolocation-map thumbnail">
                <img src="img/map.png">
              </div>
              <div class="geolocation-list">
                <div class="geolocation-list__item">
                  #1 Kiev, Maidan Nezalegnosti 45B
                  <div class="geolocation-list__contacts">Contacts: <b>Tel:</b> +3 044 456 66 77,
                  <b>e-mail:</b> <a href="mailto:kiev@office.com">kiev@office.com</a></div>
                </div>
                <div class="geolocation-list__item">
                  #2 Kiev, GeroevStalingrada 15A
                  <div class="geolocation-list__contacts">Contacts: <b>Tel:</b> +3 044 456 66 77,
                  <b>e-mail:</b> <a href="mailto:kiev@office.com">kiev@office.com</a></div>
                </div>
                <div class="geolocation-list__item">
                  #3 Kiev, Maidan Nezalegnosti 45B
                  <div class="geolocation-list__contacts">Contacts: <b>Tel:</b> +3 044 456 66 77,
                  <b>e-mail:</b> <a href="mailto:kiev@office.com">kiev@office.com</a></div>
                </div>
                <div class="geolocation-list__item">
                  #4 Kiev, GeroevStalingrada 15A
                  <div class="geolocation-list__contacts">Contacts: <b>Tel:</b> +3 044 456 66 77,
                  <b>e-mail:</b> <a href="mailto:kiev@office.com">kiev@office.com</a></div>
                </div>
              </div>
          </div>
        </div>
    </div>
    <footer class="bank-footer">
       <div class="container">
         <div class="col-xs-12 col-sm-6 col-md-4">
            <h4>Currency exchenge:</h4>
            <div class="footer-currency">
              <div class="footer-currency__item">
                <strong>USD/EUR:</strong> <span class="footer-currency__val">28/30</span>
              </div>
              <div class="footer-currency__item">
                <strong>GBP/EUR:</strong> <span class="footer-currency__val">28/30</span>
              </div>
              <div class="footer-currency__item">
                <strong>GBP/EUR:</strong> <span class="footer-currency__val">28/30</span>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-8">
            <h4>Address and contact:</h4>
            <div class="footer-contacts-line address-line">London UK, The Business Centre 61 Wellfield Road</div>
            <div class="footer-contacts-line"><i class="fa fa-phone"></i> +8 (099) 667 77 88</div>
            <div class="footer-contacts-line"><i class="fa fa-envelope"></i> <a href="#">email@bank.com</a></div>
          </div>
        </div>
        <div class="copy-text">
          <div class="container">&copy; 2015 Bank name, Inc. All rights reserved.</div>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>